*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-page{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.left{
    justify-content: center;
    display: grid;
    align-items: center;
    border: 1px solid black;
    width: 60%;
    height: 90vh;
}
.f-nav{
    display: flex;
    float: inline-start;
    width: 100%;
    height: 10vh;
    border: 1px solid black;
}
.parent-nav{
    display: block;
    width: 100%;
}
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
  .fade-in {
    animation: fadeIn 1.5s ease-in-out;
}