*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-page{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.left{
    justify-content: center;
    display: grid;
    align-items: center;
    border: 1px solid black;
    width: 60%;
    height: 90vh;
}
.f-nav{
    display: flex;
    float: inline-start;
    width: 100%;
    height: 10vh;
    border: 1px solid black;
}
.parent-nav{
    display: block;
    width: 100%;
}
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
  .fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadePop {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-fade {
  animation: fadePop 0.25s ease-out;
}

 #toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #16a34a;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    display: none;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }